<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>SpaceY</title>
    </head>
    <body>
        <h3>Add Item</h3>
        <br>
        Engine part<input type="text" name="engine"><br><br>
        Cost<input type="number" name="cost"><br><br>
        Description<input type="text" name="description"><br><br>
        Weight<input type="number" name="weight"><br><br>
        Material<input type="text" name="material"><br><br>
        Destinaton:<br>
        <input type="radio" name="destination" value="1">Orbital transfer<br><br>
        <input type="radio" name="destination" value="2">Low Earth orbit<br><br>
        <input type="radio" name="destination" value="3">Inter solar system<br><br>
        Payload:<br>
        <input type="radio" name="payload" value="1">100000<br><br>
        <input type="radio" name="payload" value="2">75000<br><br>
        <input type="radio" name="payload" value="3">50000<br><br>
        <input type="radio" name="payload" value="4">25000<br><br>
    </body>
</html>