<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />

        <title>SpaceY</title>
        
        <script>
            $(document).ready(function(){
            $(".delete").on("click", function(event){
               
               if( !confirm("Delete item?")){ 
                   event.preventDefault(); //prevents default behavior of links
               }
               
            });//confirm
            
        });//document ready
        </script>
    </head>
    <body>
        
        <h1>Welcome to the Admin Page</h1>
        <div id="adminBtns">
            <form action="/addItem">
                <button class="adminBtns">Add New Item</button>
            </form>
            
            <form action="/reports">
                <button class="adminBtns">Generate Reports</button>
            </form>
    
            <form action="/logout">
                    <button class="adminBtns" type="submit">Log-Out</button>
            </form>
        </div>
        
        <h2>Parts List</h2>
        <ul>
            <% itemList.forEach(function(item){ %>
            <li>
                <%=item.upgrade%>
                [<a href="/updateItem?engineId=<%=item.engineId%>">Update</a>]
                [<a class="delete" href="/deleteItem?engineId=<%=item.engineId%>">Delete</a>]
            </li>
            <br><br>
            <% }) %>
        </ul>
    </body>
</html>