<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <title>SpaceY</title>
    </head>
    <body>
        
        <h1 id="title">Building Your Space Rocket</h1>
        
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/AdminLog-In">Admin Log-In</a>
            <a href="/buildShip">Build</a>
            <a href="/shopcart">Cart</a>
        </nav>
        
        <br /><br />
    
        <form method="POST" id="info">
            <!--Keyword1: <input type="text" name="key1" placeholder="Keyword"> <br>-->
            
            <!--Keyword2: <input type="text" name="key2" placeholder="Keyword"> <br>-->
        
            Category: For the database values
            <select name="material">
                <option value="">Select One</option>
                
                <% materials.forEach(function(i){ %>
                    <option><%=i.material%></option>
                <% }); %>
                
            </select>
            <br><br>
            
            Price: For the database values
            <select name="price">
                <option value="">Select One</option>
                
                <% prices.forEach(function(i){ %>
                    <option><%=i.engineCost%></option>
                <% }); %>
                
            </select>
            <br><br>
            
            weight: For the database values
            <select name="weight">
                <option value="">Select One</option>
                
                <% weights.forEach(function(i){ %>
                    <option><%=i.weight%></option>
                <% }); %>
                
            </select>
            
            <button> Search! </button>
            <!--<h1>Disclaimer: This is only a skeleton!</h1>-->
            <!--<p>Changes will be made when the database is created.</p>-->
            <!--<p>Upon agreeing on how the we want the user to create their ship, Eduardo/Athean will create this part</p>-->
            
            <%= typeof(message) != "undefined"?message:"" %>
            
            <table border="1" cellpadding="3" id="printTable">
            	<tbody><tr>
            	  <th>First Name</th>
            	  <th>Last Name</th>		
            	  <th>Points</th>
            	</tr>
            	<tr>
            		<td>Jill</td>
            		<td>Smith</td>		
            		<td>50</td>
            	</tr>
            	<tr>
            		<td>Eve</td>
            		<td>Jackson</td>		
            		<td>94</td>
            	</tr>
            	<tr>
            		<td>John</td>
            		<td>Doe</td>		
            		<td>80</td>
            	</tr>
            	<tr>
            		<td>Adam</td>
            		<td>Johnson</td>		
            		<td>67</td>
            	</tr>
            </tbody></table>
            
        </form>
        
            

    </body>
</html>