<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <title>SpaceY</title>
    </head>
    <body>
        
        <span>Shopping Cart is here!</span>
        
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/AdminLog-In">Admin Log-In</a>
            <a href="/buildShip">Build</a>
            <a href="/shopcart">Cart</a>
        </nav>
        
        <br /><br />
        
        <% for(var i = 0; i < position.length; i++) { %>
        
        <% } %>
        
        <% if (position.length != 0) {%>
            <table border="1" cellpadding="3" id="printTable">
            	<tbody>
            	    <tr>
            	        <th>Order Number</th>
            	        <th>Engines</th>
            	        <th>Price</th>
                	</tr>
            	
                	<% for(var i = 0; i < position.length; i++) { %>
                	    <tr>
                    	    <td> <%= i + 1 %> </td>
                    	    <td>
                        	    <% for(var j = 0; j < position[i].length; j++) { %>
                    		        <% if (amount[i][j] != 0) { %>
                    		            <%= engineI[position[i][j]].upgrade%>
                    		            <br>
                    		        <% } %>
                        	    <% } %>
                    	    </td>
                    	    <td>$<%= engineTP[i][0] %></td>
                	    </tr>
                    <% } %>
                </tbody>
            </table>
            <br><br>
            <span>Total Cost: $<%= total[0] %></span>
            
        <% } %>
        
    </body>
</html>