body {
    justify-content: center;
    text-align: center;
    /*background-image: linear-gradient(to right, cyan, yellow);*/
    font-family: "Gill Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background-color: white;
    color: black;
}

.head{
    color: rgb(255, 120, 0);
    font-size: 20px;
    margin-left:10px;
    margin-right: 10px;
    transition: 1s;
}

.head:hover{
    color: rgb(255, 60, 0);
    font-size: 25px;
    transition: 1s
    
}

#loginPage{
    display: flex;
}

#loginCred{
    margin: auto;
    font-size: 65px;
    border: 10px inset rgb(255, 120, 0);
}

#buildPage{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d8/Spacex-81773-unsplash.jpg");
    font-weight: bold;
    color: white;
}

#adminBtns{
    justify-content:center;
    display: flex;
    margin: 20px;
}

.adminBtns{
    margin:15px;
    padding: 8px 20px;
    border: 5px outset;
}

#addItemPage{
    justify-content:center;
    text-align: center;
    color:green;
}

.addItemForm{
    display: inline-block;
    text-align: left;
}