body {
    justify-content: center;
    text-align: center;
    /*background-image: linear-gradient(to right, cyan, yellow);*/
    font-family: "Gill Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background-color: white;
    color: black;
}

.head{
    color: rgb(255, 120, 0);
    font-size: 20px;
    margin-left:10px;
    margin-right: 10px;
    transition: 1s;
}

.head:hover{
    color: rgb(255, 60, 0);
    font-size: 25px;
    transition: 1s
    
}

#loginPage{
    display: flex;
}

#loginCred{
    margin: auto;
    font-size: 65px;
    border: 10px inset rgb(255, 120, 0);
}

#loginImg{
    margin-top: 0px;
}
#buildPage{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d8/Spacex-81773-unsplash.jpg");
    font-weight: bold;
    color: white;
}
#createReportPage{
    background-image: url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
    font-weight: bold;
    color: black;
    font-size:40px; ;
}

#adminBtns{
    justify-content:center;
    display: flex;
    margin: 20px;
}

.adminBtns{
    margin:15px;
    padding: 8px 20px;
    border: 5px outset;
}

ul{
    columns: 2;
}

.itemForm{
    display: inline-block;
    justify-content: center;
    text-align: right;
}

.formBtn{
    margin-right: 30%;
    border: 5px inset gray;
}

#printTable {
    margin-left:auto; 
    margin-right:auto;
}
.reportDisplay  {
  
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  text-align: center;
  color: black;
  border-style: groove;
  border-width: 0px;
  border-radius: 15px
}